apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: fcg-users
  labels:
    app: users
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: fcgfase4grupo45.azurecr.io/fcg-fase4-users:alpha2
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080

          envFrom:
            - configMapRef:
                name: users-config

          env:
            
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: users-secret
                  key: USERS_DB_CONNECTION_STRING
                  
            - name: JwtSettings__Issuer
              valueFrom:
                secretKeyRef:
                  name: users-secret
                  key: JWT_ISSUER

            - name: JwtSettings__Audience
              valueFrom:
                secretKeyRef:
                  name: users-secret
                  key: JWT_AUDIENCE

            - name: JwtSettings__Key
              valueFrom:
                secretKeyRef:
                  name: users-secret
                  key: JWT_KEY

          # HPA precisa de requests (principalmente CPU). Ajuste para sua realidade.
          resources:
            requests:
              cpu: "250m"
              memory: "400Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"

          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 15
            timeoutSeconds: 2
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: users
  namespace: fcg-users
  labels:
    app: users
spec:
  type: LoadBalancer
  selector:
    app: users
  ports:
    - name: http
      port: 80
      targetPort: http

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: users
  namespace: fcg-users
  labels:
    app: users
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: users
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
